
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Poppins', sans-serif;
  font-size: large;
  background-color: #CCFF33;
  color: whitesmoke;
  transition: .3s;
}

h1,h2,h3{
  font-weight: 900;
  margin-top: 26px;
  color: black;
  font-family: 'Poppins', sans-serif;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color:white;
  font-weight: bold;
}

img{
  max-width: 100%;
  height: auto;
}

.container{
  max-width: 100vw;
}

.grid{
  display: grid;
  gap: 1.9rem;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}




.img_container
 {
    height: 200px;
    background-repeat: no-repeat;
    background-size : cover;
    background-color:#687379;
    

 }

 .pp_container
  {
   position: relative;

  }

  .pp{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    margin: 0px;
    position: absolute;
    top:-50px;
    left: 50%;
    transform: translateX(-50%) ;
  }


  nav{
    display: flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color:#CCFF33;
   
  }


  main{

    margin-top: 10vh;
    text-align: center;
  }

  .button{
    color:  #CCFF33;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap:.5rem;
    background-color:#263238;
    width:60vw;
    padding: 1rem;
    margin: 0.3rem;
    border-radius:.5rem;
    transition:.3s;
    
  }

    .button:hover 
    {
    background-color:#a29898;
    transform: scale(1.03);
  }

  .icon>*{
    margin:10px;
    color:black;
    }
    .icon>*:hover
    {
    color: whitesmoke;
}

p{ 
  text-align: center;
  color: #263238;
}
   
@media screen and (min-width : 68px){
:root{
--h2-font-size: 1.5rem;
--h3-font-size: 1.25rem;
--normal-font-size: 1rem;
--Small-font-size: .875rem;
--Smaller-font-size : 813rem;
}
}

 
